<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@ViewData["Description"]"/>
    <meta name="keywords" content="@ViewData["Keywords"]"/>

    <title>@ViewData["Title"] - Raw Coding</title>

    <style>
        [v-cloak] > * {
            display: none;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;800;900&display=swap" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bulma.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/lib/bulma.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    @await RenderSectionAsync("Styles", required: false)

    <script src="https://js.stripe.com/v3/"></script>
</head>
<body class="bkg-black">

<div class="hero">
    <div class="hero-body flex justify-center align-center py-3">
        <a class="logo" href="/">
            <img src="~/logo_150x150.png" height="150">
        </a>
        <p class="text-white is-size-1 is-size-3-mobile is-uppercase">raw coding</p>
    </div>
</div>

<div class="container">
    @RenderBody()
</div>

<partial name="_CookieConsentPartial"/>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>