@page
@model RawCoding.Shop.UI.Pages.Payment.Success

@{
    Layout = "_Layout";
}

<div class="hero">
    <div class="hero-body">
        <h1 class="title text-white is-size-2">Payment Successfull</h1>
        <p class="text-white is-size-4">You will recieve a confirmation email. Return to <a asp-page="/Index">Shop</a></p>
    </div>
</div>