@page
@model RawCoding.Shop.UI.Pages.Checkout.Canceled

@{
    ViewData["Title"] = "Payment Cancelled";
    Layout = "_Layout";
}


<div class="hero">
    <div class="hero-body">
        <h1 class="title text-white is-size-2">Payment Cancelled</h1>
        <p class="text-white is-size-4">Return to <a asp-page="/Index">Shop</a></p>
    </div>
</div>