@page
@model RawCoding.Shop.UI.Pages.Checkout.Success

@{
    ViewData["Title"] = "Success";
    Layout = "_Layout";
}

<div class="box bkg-white">
    <h1 class="title s-size-2">Payment Successfull</h1>
    <p class="is-size-3">Your order reference number is <a href="/orders/@Model.OrderId">@Model.OrderId</a></p>
    <p class="is-size-4">You will recieve a confirmation email. Return to <a asp-page="/Index">Shop</a></p>
</div>