<div style="background-color: #1B0F1E; padding: 1rem 0;">
    <div style="text-align: center;">
        <a style="text-decoration:none; margin: 0 0.5rem;" href="https://www.youtube.com/raw_coding" target="_blank">
            <img src="https://aw-test-bucket.eu-central-1.linodeobjects.com/github_img/youtube.png">
        </a>
        <a style="text-decoration:none; margin: 0 0.5rem;" href="https://discord.gg/GeJ8vyy" target="_blank">
            <img src="https://aw-test-bucket.eu-central-1.linodeobjects.com/github_img/discord.png">
        </a>
        <a style="text-decoration:none; margin: 0 0.5rem;" href="https://www.twitch.tv/raw_coding" target="_blank">
            <img src="https://aw-test-bucket.eu-central-1.linodeobjects.com/github_img/twitch.png">
        </a>
        <a style="text-decoration:none; margin: 0 0.5rem;" href="https://twitter.com/anton_t0shik" target="_blank">
            <img src="https://aw-test-bucket.eu-central-1.linodeobjects.com/github_img/twitter.png">
        </a>
        <a style="text-decoration:none; margin: 0 0.5rem;" href="https://instagram.com/anton_t0shik" target="_blank">
            <img src="https://aw-test-bucket.eu-central-1.linodeobjects.com/github_img/instagram.png">
        </a>
    </div>
    <div style="text-align: center; color: #fff; padding: 0.5rem 0 0 0; font-family: 'Nunito', sans-serif;">
        &copy; Raw Coding {{ 'Now' | date: 'yyyy' }}
    </div>
</div>
