<div style="width: 100%; background-color: #1B0F1E; padding: 2rem 0 0 0;">
    <table style="margin: 0 auto;">
        <tbody>
        <tr>
            <td style="font-size: 2rem; padding: 0 5rem;">
                <div style="text-align: center; position: relative">
                    <img src="https://aw-test-bucket.eu-central-1.linodeobjects.com/raw-coding-shop/logo.png"
                         style="width: 100px !important;" alt="">
                    <div style="color: #fff;">
                        RAW CODING
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>