@page
@using System.Text.Json
@model IndexModel
@{
    ViewData["Title"] = "Home";

    var jsonData = JsonSerializer.Serialize(Model.Products, new JsonSerializerOptions
    {
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase
    });
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/index.css"/>
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/index.min.css" asp-append-version="true"/>
    </environment>
}

<div id="app" v-cloak>
    <div class="columns is-multiline">
        <div class="column is-6-tablet is-4-desktop" v-for="(p, i) in products" :key="'product' + i">
            <div class="card">
                <div @@click="gotoProduct(p)" class="card-image">
                    <figure class="image is-square">
                        <img :src="'images/' + p.images[0]" alt="">
                    </figure>
                    <figure class="image is-square">
                        <img :src="'images/' + p.images[1]" alt="">
                    </figure>
                </div>
                <div @@click="gotoProduct(p)" class="card-content bkg-white justify-between align-end">
                    <div class="title is-marginless is-4">{{p.name}}</div>
                    <div class="header is-4">{{p.value}}</div>
                </div>
                <div class="line"></div>
                <div @@click="buy(p)" class="bkg-white justify-center button-buy">
                    <span class="is-uppercase is-size-3">buy</span>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        const __state__ = @Html.Raw(jsonData);
    </script>
    <script src="js/index.js"></script>
}