<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>

    <partial name="Shared/_CSS"/>

</head>
<body>

@RenderBody()

<partial name="Shared/_Vue"/>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>