@{

}

<div class="modal modal-fx-3dRotateFromRight" id="cart-container">
    <div class="modal-background"></div>
    <div class="modal-content cart-menu">

    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeCart()"></button>
</div>


<script src="~/lib/modal-fx.min.js" asp-append-version="true"></script>
<script src="~/js/cart.js" asp-append-version="true"></script>