.card {
    display: block;
    text-decoration: none;
    max-width: 420px;
    margin: auto;
    border-radius: 5px;
    transition: 180ms ease-out;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .card {
        max-width: 360px;
    }
}

.card-image, .card-image * {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card div:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card.out-of-stock *:not(.ribbon) {
    filter: grayscale(1);
}

.card.in-stock:hover {
    cursor: pointer;
    box-shadow: 0 1px 6px 0 #00E6D8;
    transition: 360ms ease-in;
}

.card.in-stock:hover .image.front {
    opacity: 0;
    transition: opacity 360ms ease-out;
}

.card-image {
    position: relative;
    padding: 0;
}

.card-image .image {
    max-width: 420px;
}

.card-image .image.front {
    transition: opacity 180ms ease-in;
    z-index: 2;
}

.card-content {
    padding-top: .75rem;
    padding-bottom: .5rem;
}

.card-image .image.back {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.button-buy {
    font-weight: 600;
}

.button-buy:hover * {
    color: #00AAFF;
    font-weight: 600;
}

.ribbon{
    width: 200px;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 2;
}

.ribbon.red {
    background: #e43;
}

.ribbon.orange {
    background: #e82;
}